In [2]:
import pandas as pd

In [21]:
recruitment = pd.read_csv("Recruitment_rate.csv")
columns = recruitment.columns[2:].to_list()

In [22]:
values = []
for col in columns:
    print(col)
    print(recruitment[col].tolist())
    values.extend(recruitment[col].tolist())
len(values)

Manufacturing
[1.8, 1.1, 1.7, 1.9, 1.8, 1.6, 1.6, 1.8, 1.9, 1.9, 2.0, 2.0, 1.5, 2.0, 2.3, 2.4]
 Services
[2.2, 1.8, 2.4, 2.4, 2.3, 2.4, 2.6, 2.8, 2.8, 2.9, 3.0, 3.2, 2.5, 3.0, 3.2, 3.0]
Wholesale And Retail Trade
[2.2, 1.8, 2.2, 2.4, 2.4, 2.5, 2.7, 3.1, 3.5, 3.4, 3.2, 3.6, 2.7, 3.3, 3.5, 3.3]
Transportation And Storage
[1.7, 1.1, 1.7, 1.8, 1.7, 1.8, 2.0, 2.1, 2.3, 2.3, 2.4, 2.3, 1.4, 2.5, 2.4, 2.0]
Accommodation And Food Services
[3.4, 3.2, 4.0, 3.7, 3.7, 3.9, 4.5, 4.7, 4.6, 4.6, 4.9, 4.7, 3.8, 4.6, 5.1, 5.1]
Information And Communications
[2.8, 2.2, 2.4, 2.3, 2.0, 2.2, 2.6, 3.0, 2.7, 2.8, 3.0, 3.2, 2.0, 2.9, 3.0, 3.1]
Financial And Insurance Services
[1.8, 1.3, 1.8, 2.1, 1.8, 1.9, 2.0, 2.2, 2.1, 1.9, 2.4, 2.7, 1.6, 2.4, 3.1, 2.7]
Real Estate Services
[2.3, 1.8, 3.2, 3.3, 3.4, 3.5, 3.5, 3.8, 3.6, 4.1, 4.1, 3.9, 3.6, 3.8, 4.0, 4.5]
Professional Services
[2.3, 1.6, 2.2, 2.5, 2.0, 2.3, 2.2, 2.3, 2.5, 2.9, 2.8, 2.7, 2.3, 3.4, 3.6, 3.5]
Administrative And Support Services
[3.6, 3.3, 4.3, 4.5, 4.6, 4.4, 4.7, 5.2, 4.8, 4.6, 4.9, 4.8, 4.3, 4.6, 4.9, 4.9]
Community, Social And Personal Services
[1.4, 1.2, 1.5, 1.5, 1.3, 1.4, 1.6, 1.6, 1.6, 1.8, 1.9, 2.3, 2.0, 2.0, 1.8, 1.6]
Others
[1.6, 1.1, 1.6, 1.8, 1.4, 1.3, 1.6, 2.1, 2.2, 2.4, 2.1, 2.0, 2.3, 3.0, 3.0, 1.7]
Professionals, Managers, Executives & Technicians
[1.7, 1.3, 1.7, 1.7, 1.5, 1.6, 1.8, 1.9, 1.9, 1.9, 2.1, 2.2, 1.6, 2.2, 2.3, 2.2]
Clerical, Sales & Service Workers
[2.9, 2.4, 3.2, 3.2, 3.1, 3.1, 3.5, 3.8, 3.8, 3.7, 3.8, 4.0, 3.1, 3.7, 3.7, 3.6]
Production & Transport Operators, Cleaners & Labourers
[2.2, 1.6, 2.5, 2.5, 2.4, 2.5, 2.6, 2.9, 3.1, 3.1, 2.8, 2.7, 2.3, 2.9, 3.1, 2.9]

240

In [25]:
new_col= []

for col in columns:
    new_col.extend([col] * 16)

years =[]
for i in range(2006, 2022):
    years.append(i)
years = years * 15

recruitment= pd.DataFrame({"year":years, "industry1":new_col, "rate":values})
recruitment

     year                                          industry1  rate
0    2006                                      Manufacturing   1.8
1    2007                                      Manufacturing   1.1
2    2008                                      Manufacturing   1.7
3    2009                                      Manufacturing   1.9
4    2010                                      Manufacturing   1.8
..    ...                                                ...   ...
235  2017  Production & Transport Operators, Cleaners & L...   2.7
236  2018  Production & Transport Operators, Cleaners & L...   2.3
237  2019  Production & Transport Operators, Cleaners & L...   2.9
238  2020  Production & Transport Operators, Cleaners & L...   3.1
239  2021  Production & Transport Operators, Cleaners & L...   2.9

[240 rows x 3 columns]

In [26]:
recruitment.industry1.unique()

array(['Manufacturing', ' Services', 'Wholesale And Retail Trade',
       'Transportation And Storage', 'Accommodation And Food Services',
       'Information And Communications',
       'Financial And Insurance Services', 'Real Estate Services',
       'Professional Services', 'Administrative And Support Services',
       'Community, Social And Personal Services', 'Others',
       'Professionals, Managers, Executives & Technicians',
       'Clerical, Sales & Service Workers',
       'Production & Transport Operators, Cleaners & Labourers'],
      dtype=object)

In [27]:
for i in range(len(recruitment)):
    if recruitment.industry1[i] == "Manufacturing":
        recruitment.industry1[i] = "manufacturing"
        
    elif recruitment.industry1[i] == " Services":
        recruitment.industry1[i] = "services"
        
    elif recruitment.industry1[i] == "Wholesale And Retail Trade":
        recruitment.industry1[i] = "services"
        
    elif recruitment.industry1[i] == "Transportation And Storage":
        recruitment.industry1[i] = "services"
    
    elif recruitment.industry1[i] == "Accommodation And Food Services":
        recruitment.industry1[i] = "services"
    
    elif recruitment.industry1[i] == "Information And Communications":
        recruitment.industry1[i] = "services"
        
    elif recruitment.industry1[i] == "Financial And Insurance Services":
        recruitment.industry1[i] = "services"
        
    elif recruitment.industry1[i] == "Real Estate Services":
        recruitment.industry1[i] = "services"
    
    elif recruitment.industry1[i] == "Professional Services":
        recruitment.industry1[i] = "services"
        
    elif recruitment.industry1[i] == "Administrative And Support Services":
        recruitment.industry1[i] = "services"
        
    elif recruitment.industry1[i] == "Community, Social And Personal Services":
        recruitment.industry1[i] = "services"
    
    elif recruitment.industry1[i] == "Others":
        recruitment.industry1[i] = "others"
    
    elif recruitment.industry1[i] == "Professionals, Managers, Executives & Technicians":
        recruitment.industry1[i] = "services"
    
    elif recruitment.industry1[i] == "Clerical, Sales & Service Workers":
        recruitment.industry1[i] = "services"
    
    elif recruitment.industry1[i] == "Production & Transport Operators, Cleaners & Labourers":
        recruitment.industry1[i] = "services"
    
recruitment.industry1.unique()

/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "manufacturing"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "others"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_7443/4189713706.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recruitment.industry1[i] = "services"

array(['manufacturing', 'services', 'others'], dtype=object)

In [28]:
recruitment = recruitment.groupby(["year", "industry1"]).mean().round(2)
recruitment

                    rate
year industry1
2006 manufacturing  1.80
     others         1.60
     services       2.35
2007 manufacturing  1.10
     others         1.10
     services       1.89
2008 manufacturing  1.70
     others         1.60
     services       2.55
2009 manufacturing  1.90
     others         1.80
     services       2.61
2010 manufacturing  1.80
     others         1.40
     services       2.48
2011 manufacturing  1.60
     others         1.30
     services       2.58
2012 manufacturing  1.60
     others         1.60
     services       2.79
2013 manufacturing  1.80
     others         2.10
     services       3.03
2014 manufacturing  1.90
     others         2.20
     services       3.02
2015 manufacturing  1.90
     others         2.40
     services       3.08
2016 manufacturing  2.00
     others         2.10
     services       3.18
2017 manufacturing  2.00
     others         2.00
     services       3.25
2018 manufacturing  1.50
     others         2.30
     services       2.55
2019 manufacturing  2.00
     others         3.00
     services       3.18
2020 manufacturing  2.30
     others         3.00
     services       3.36
2021 manufacturing  2.40
     others         1.70
     services       3.26

In [29]:
recruitment.to_csv("Cleansed/recruitment.csv")