In [301]:
income = pd.read_csv("Annual Change In Income By Industry.csv").replace("-", 0).rename(columns={'Year':"year",
                                                                                               'Percentage':"percent"})

industry1 = []
for i in range(len(income)):
    if income.Industry[i] == "Manufacturing":
        industry1.append("manufacturing")
        
    elif income.Industry[i] == "Construction":
        industry1.append("construction")
        
    elif income.Industry[i] == "Wholesale Trade":
        industry1.append("services")
        
    elif income.Industry[i] == "Retail Trade":
        industry1.append("services")
        
    elif income.Industry[i] == "Transport And Storage":
        industry1.append("services")
    
    elif income.Industry[i] == "Accommodation":
        industry1.append("services")
    
    elif income.Industry[i] == "Food  Beverage Services":
        industry1.append("services")
    
    elif income.Industry[i] == "Information And Communications":
        industry1.append("services")
        
    elif income.Industry[i] == "Financial And Insurance Services":
        industry1.append("services")
        
    elif income.Industry[i] == "Real Estate Services":
        industry1.append("services")
    
    elif income.Industry[i] == "Professional Services":
        industry1.append("services")
        
    elif income.Industry[i] == "Administrative And Support Services":
        industry1.append("services")
    
    elif income.Industry[i] == "Community Social And Personal Services":
        industry1.append("services")
    
    
    
industry = pd.DataFrame(industry1, columns=["industry1"])
income = pd.concat([income,industry], axis =1)
income

     year                                Industry  percent      industry1
0    2009                           Manufacturing     -0.3  manufacturing
1    2009                            Construction      1.6   construction
2    2009                         Wholesale Trade      0.5       services
3    2009                            Retail Trade      0.1       services
4    2009                   Transport And Storage     -5.1       services
..    ...                                     ...      ...            ...
164  2021        Financial And Insurance Services      4.1       services
165  2021                    Real Estate Services      2.7       services
166  2021                   Professional Services      5.3       services
167  2021     Administrative And Support Services      3.7       services
168  2021  Community Social And Personal Services      3.2       services

[169 rows x 4 columns]

In [304]:
# income = income.drop(columns="Industry")
income = income.groupby(["year", "industry1"]).mean().round(2)
income

income.to_csv("Cleansed/income.csv")

In [128]:
income.industry1.unique()

array(['manufacturing', 'construction', 'services'], dtype=object)