In [1]:
import pandas as pd

In [4]:
resignation = pd.read_csv("../Raw Data/Recruitment_rate.csv")
columns = resignation.columns[2:].to_list()

In [5]:
values = []
for col in columns:
    print(col)
    print(resignation[col].tolist())
    values.extend(resignation[col].tolist())
len(values)

Manufacturing
[1.8, 1.1, 1.7, 1.9, 1.8, 1.6, 1.6, 1.8, 1.9, 1.9, 2.0, 2.0, 1.5, 2.0, 2.3, 2.4]
 Services
[2.2, 1.8, 2.4, 2.4, 2.3, 2.4, 2.6, 2.8, 2.8, 2.9, 3.0, 3.2, 2.5, 3.0, 3.2, 3.0]
Wholesale And Retail Trade
[2.2, 1.8, 2.2, 2.4, 2.4, 2.5, 2.7, 3.1, 3.5, 3.4, 3.2, 3.6, 2.7, 3.3, 3.5, 3.3]
Transportation And Storage
[1.7, 1.1, 1.7, 1.8, 1.7, 1.8, 2.0, 2.1, 2.3, 2.3, 2.4, 2.3, 1.4, 2.5, 2.4, 2.0]
Accommodation And Food Services
[3.4, 3.2, 4.0, 3.7, 3.7, 3.9, 4.5, 4.7, 4.6, 4.6, 4.9, 4.7, 3.8, 4.6, 5.1, 5.1]
Information And Communications
[2.8, 2.2, 2.4, 2.3, 2.0, 2.2, 2.6, 3.0, 2.7, 2.8, 3.0, 3.2, 2.0, 2.9, 3.0, 3.1]
Financial And Insurance Services
[1.8, 1.3, 1.8, 2.1, 1.8, 1.9, 2.0, 2.2, 2.1, 1.9, 2.4, 2.7, 1.6, 2.4, 3.1, 2.7]
Real Estate Services
[2.3, 1.8, 3.2, 3.3, 3.4, 3.5, 3.5, 3.8, 3.6, 4.1, 4.1, 3.9, 3.6, 3.8, 4.0, 4.5]
Professional Services
[2.3, 1.6, 2.2, 2.5, 2.0, 2.3, 2.2, 2.3, 2.5, 2.9, 2.8, 2.7, 2.3, 3.4, 3.6, 3.5]
Administrative And Support Services
[3.6, 3.3, 4.3, 4.5, 4.6, 4.4, 4.7, 5.2, 4.8, 4.6, 4.9, 4.8, 4.3, 4.6, 4.9, 4.9]
Community, Social And Personal Services
[1.4, 1.2, 1.5, 1.5, 1.3, 1.4, 1.6, 1.6, 1.6, 1.8, 1.9, 2.3, 2.0, 2.0, 1.8, 1.6]
Others
[1.6, 1.1, 1.6, 1.8, 1.4, 1.3, 1.6, 2.1, 2.2, 2.4, 2.1, 2.0, 2.3, 3.0, 3.0, 1.7]
Professionals, Managers, Executives & Technicians
[1.7, 1.3, 1.7, 1.7, 1.5, 1.6, 1.8, 1.9, 1.9, 1.9, 2.1, 2.2, 1.6, 2.2, 2.3, 2.2]
Clerical, Sales & Service Workers
[2.9, 2.4, 3.2, 3.2, 3.1, 3.1, 3.5, 3.8, 3.8, 3.7, 3.8, 4.0, 3.1, 3.7, 3.7, 3.6]
Production & Transport Operators, Cleaners & Labourers
[2.2, 1.6, 2.5, 2.5, 2.4, 2.5, 2.6, 2.9, 3.1, 3.1, 2.8, 2.7, 2.3, 2.9, 3.1, 2.9]

240

In [6]:
new_col= []

for col in columns:
    new_col.extend([col] * 16)

years =[]
for i in range(2006, 2022):
    years.append(i)
years = years * 15

resignation= pd.DataFrame({"year":years, "industry1":new_col, "rate":values})
resignation

     year                                          industry1  rate
0    2006                                      Manufacturing   1.8
1    2007                                      Manufacturing   1.1
2    2008                                      Manufacturing   1.7
3    2009                                      Manufacturing   1.9
4    2010                                      Manufacturing   1.8
..    ...                                                ...   ...
235  2017  Production & Transport Operators, Cleaners & L...   2.7
236  2018  Production & Transport Operators, Cleaners & L...   2.3
237  2019  Production & Transport Operators, Cleaners & L...   2.9
238  2020  Production & Transport Operators, Cleaners & L...   3.1
239  2021  Production & Transport Operators, Cleaners & L...   2.9

[240 rows x 3 columns]

In [7]:
resignation.industry1.unique()

array(['Manufacturing', ' Services', 'Wholesale And Retail Trade',
       'Transportation And Storage', 'Accommodation And Food Services',
       'Information And Communications',
       'Financial And Insurance Services', 'Real Estate Services',
       'Professional Services', 'Administrative And Support Services',
       'Community, Social And Personal Services', 'Others',
       'Professionals, Managers, Executives & Technicians',
       'Clerical, Sales & Service Workers',
       'Production & Transport Operators, Cleaners & Labourers'],
      dtype=object)

In [8]:
for i in range(len(resignation)):
    if resignation.industry1[i] == "Manufacturing":
        resignation.industry1[i] = "manufacturing"
        
    elif resignation.industry1[i] == "Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Wholesale And Retail Trade":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Transportation And Storage":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Accommodation And Food Services":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Information And Communications":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Financial And Insurance Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Real Estate Services":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Professional Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Administrative And Support Services":
        resignation.industry1[i] = "services"
        
    elif resignation.industry1[i] == "Community, Social And Personal Services":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Others":
        resignation.industry1[i] = "others"
    
    elif resignation.industry1[i] == "Professionals, Managers, Executives & Technicians":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Clerical, Sales & Service Workers":
        resignation.industry1[i] = "services"
    
    elif resignation.industry1[i] == "Production & Transport Operators, Cleaners & Labourers":
        resignation.industry1[i] = "services"
    
    
    
    
    
resignation.industry1.unique()

/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "manufacturing"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "others"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"
/var/folders/0t/t8f98kd93j12tt5g5n5lwyh80000gn/T/ipykernel_11878/3086691110.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resignation.industry1[i] = "services"

array(['manufacturing', ' Services', 'services', 'others'], dtype=object)

In [9]:
resignation = resignation.groupby(["year", "industry1"]).mean().round(2)
resignation.to_csv("../Cleansed/resignation.csv")
resignation

                    rate
year industry1
2006  Services      2.20
     manufacturing  1.80
     others         1.60
     services       2.36
2007  Services      1.80
...                  ...
2020 services       3.38
2021  Services      3.00
     manufacturing  2.40
     others         1.70
     services       3.28

[64 rows x 1 columns]